<!DOCTYPE html>
<html lang="fr" ng-app="store">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Pizza Mia - Accueil</title>
  <!-- Shortcut Icon -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300,600,800,900" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <!--Import materialize.css-->

  <!-- Import personnal stylesheet -->
  <link type="text/css" rel="stylesheet" href="./assets/css/style.css" />
</head>
<body>
  <!-- bandeau enseigne -->
  <!-- panier -->

  <!-- end of panier -->
  <!-- Victoria's part --><!-- bandeau enseigne -->
  <header>
    <div class="adressbar">
    <marquee>PIZZA MIA &nbsp; &nbsp; &nbsp; Adresse: 19 RUE D'INGOUVILLE, &nbsp; &nbsp; 76600 LE HAVRE  &nbsp;  &nbsp;   &nbsp;Téléphone: 0235 21 51 31 &nbsp; &nbsp; Horaire: Ouvert du lundi au samedi de 9h à 14h30 et de 17H30 à 22h </marquee>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark backnav">
      <a class="navbar-brand" href="#"><img src="./assets/img/logo.jpg" alt="Mia-Pizza"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Nos produits
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Pizzas</a>
              <a class="dropdown-item" href="#">Sandwichs</a>
              <a class="dropdown-item" href="#">Salades</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Idées recettes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <a id="linkfacebook" class="nav-link icon" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-2x icon1"></i></a>
          <a id="linkLinkedin" class="nav-link icon" href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-2x icon2"></i></a>
        </ul>
      </div>
    </nav>

  </header>
  <section class="main-image">
    <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="introduction">
          <div class="slogan">
            <h1>Mia Pizza vous accueille<br />au sein de son enseigne</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="introduction">
          <div class="table">
            <h2>Retrouvez chez nous les<br />meilleurs pizzas, sandwichs<br />et salades d'origines italiennes<br />au meilleur prix.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Victoria's part -->
<!-- Card's part offres-->
<section>
<div class="container-fluid">
  <div ng-controller="storeController">
    <h1>Nos offres</h1>
    <!-- CATEGORIES -->
    <div class="row justify-content-md-center">
      <div class="btn-group" role="group" aria-label="catégories" id="categoryDisplay">
        <div ng-repeat="product in products | unique : 'category'">
          <button type="button" class="btn btn-primary" ng-click="categoryFilter(product.category)">{{product.category}}</button>
        </div>
        <button type="button" class="btn btn-primary" ng-click="categoryFilter('')">Tout</button>
      </div>
    </div>
    <!-- OFFRES -->
    <div class="row">
      <div class="col-md-4" id="productsDisplay" ng-repeat="product in products | filter: categoryFiltered">
        <div class="card text-center">
          <div class="card-header">
            <p class="card-title"><strong>{{product.name}}</strong></p>
          </div>
          <div class="card-body">
            <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
            <p class="card-text">{{product.description}}</p>
            <p><strong>{{product.price | currency:"€"}}</strong></p>
          </div>
          <div class="card-footer">
            <input class="btn btn-success" type="button" ng-click="addItemToCart(product)" value="Commander" />
          </div>
        </div>
      </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cartLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="cartContent">Votre commande</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <!-- MODAL BODY -->
          <div class="modal-body">
            <main class="page">
              <section class="shopping-cart dark">
                <div class="container">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12 col-lg-8 scrollYClass">
                        <div class="items">
                          <h3 ng-hide="cart.length !== 0">Votre panier est vide.</h3>
                          <ul class="list-group">
                            <li class="list-group-item" ng-repeat="c in cart">
                              <p class="d-flex justify-content-between">{{c.name}}
                                <span>
                                  <i class="fas fa-minus-circle minusItem" ng-click="removeItemCart(c)"></i>
                                  <span id="priceByItem"> {{c.count}} </span>
                                  <i class="fas fa-plus-circle plusItem" ng-click="addItemToCart(c)"></i>
                                </span>
                                {{c.price*c.count | currency:"€"}}
                                <button class="tooltip-test float-right" id="deleteProduct" title="Supprimer" ng-click="deleteProductInCart(c)">X</button></p>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                          <div class="summary">
                            <h3>Résumé</h3>
                            <div class="summary-item"><span class="text">Total : {{total | currency:"€"}}</span></div>
                            <div class="shipping">Pas de frais de port.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </main>
            </div>
            <!-- !MODAL BODY -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </body>
    <!-- PANIER -->
    <div class="container-fluid countDisplay">
      <div class="row">
        <a class="nav-link" id="cartButton" data-toggle="modal" data-target="#cart"><span class="circle" >{{totalCount}}</span><i class="fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
</div>
</section>
    <!--********************************************************************* Card's part ***************************************************************************-->
    <section class="recipees">
    <div class="container-fluid text-center velo">

      <div class="row">
        <div class="col-lg-12 col-sm-6">
          <div class="recepees-title">
            <div class="title">
              <h3><strong>Idees recettes du jour</strong></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/pizzaraclette.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><strong>La pizza du jour</strong></h4>
                <p class="card-text">La pizza aux ingrédients d'automne ravira les papillotes de toute la famille</p>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">Consulter la recette</button>
              </div>
              <!-- Modal 1-->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Pizza automnale</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul>
                        <li>Pate</li>
                        <li>Champignons</li>
                        <li>Chataignes</li>
                        <li>Poivrons Jaunes</li>
                        <li>Tomates</li>
                        <li>Pignons</li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/cocktail.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><strong>Le cocktail du jour</strong></h5>
                <p class="card-text">L'incontournable cocktail italien revient pour accompagner vos repas</p>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal2">Consulter la recette</button>
              </div>
              <!-- Modal 2-->
              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel">Pizza automnale</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul>
                        <li>Pate</li>
                        <li>Champignons</li>
                        <li>Chataignes</li>
                        <li>Poivrons Jaunes</li>
                        <li>Tomotes</li>
                        <li>Pignons</li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/tiramisu.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><strong>Le Dessert du jour</strong></h4>
                <p class="card-text">Le tiramisu revisité et allégé pour l'occasion pour ne plus avoir de regrets inutiles</p>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal3">Consulter la recette</button>
              </div>
              <!-- Modal 3-->
              <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Pizza automnale</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul>
                        <li>Pate</li>
                        <li>Champignons</li>
                        <li>Chataignes</li>
                        <li>Poivrons Jaunes</li>
                        <li>Tomotes</li>
                        <li>Pignons</li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--*************************************************************************************** footer part's **************************************************************************-->
    <footer id="footer">
      <div class="container-fluid">
        <div class="row footer-top">
          <div class="col cssform1">
            <form id="formContact" name="formContact">
              <fieldset>
                <legend id="titleform">NOUS CONTACTER</legend> <!--le nom donné au formulaire-->
                <div>
                  <label id="labelform" for="name">Nom : </label><input type="text" name="name" id="inputform" ng-model="name" ng-pattern="/^[a-zA-ZÂ-ÿ- ']+$/" required />
                  <div ng-messages="formContact.name.$error" ng-if="formContact.name.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
                    <p class="hasError" ng-message="required"></p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
                    <p class="hasError" ng-message="pattern"></p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
                  </div>
                </div>
                <div>
                  <label id="labelform" for="email">E-mail : </label><input type="text" name="email" id="inputform" ng-model="email" ng-pattern="/^[a-z0-9.-_]+@[a-z0-9.-]+\.([a-z]){2,6}$/"  required />
                  <div ng-messages="formContact.email.$error" ng-if="formContact.email.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
                    <p class="hasError" ng-message="required"></p> <!--ce message est affiché uniquement si le champ n'a pas été rempli (car on a utilisé required comme attribut dans l'input, il est donc obligatoire)-->
                    <p class="hasError" ng-message="pattern"></p> <!-- ce message est affiché uniquement si le champ ne correspond pas au pattern qui a été défini dans "ng-pattern" de l'input-->
                  </div>
                </div>
                <div>
                  <label id="labelform" for="subject">Sujet : </label><input type="text" name="subject" id="inputform" ng-model="subject" required />
                  <div ng-messages="formContact.subject.$error" ng-if="formContact.subject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
                    <p class="hasError" ng-message="required"></p>
                  </div>
                </div>
                <div>
                  <label id="labelform" for="textsubject">Texte :</label><input type="text" name="textsubject" id="textarea1" ng-model="textsubject" required ></textarea>
                  <div ng-messages="formContact.textsubject.$error" ng-if="formContact.textsubject.$touched"> <!--on affiche les messages uniquement si il y a une erreur (ng-messages), et seulement une fois que l'input a été modifié (ng-if)-->
                    <p class="hasError" ng-message="required"></p>
                  </div>
                </div>
                <input id="footerbutton" type="submit" name="sendForm" ng-click="clickedButton()" ng-disabled="formContact.$invalid"/> <!--désactive le bouton lorsque le formulaire est invalide (invalid renvoie true si ce n'est pas valide, donc ng-disabled est activé)-->
              </fieldset> <!-- le "ng-click" du boutton au dessus permet de lancer la fonction "clickedButton()" (si c'est une fonction qu'on veut lancer, ne pas oublier les parenthèes à la fin pour bien indiquer que s'en est une)-->
            </form>
          </div>

          <div class="col text-center">
            <h4 class="ft-text-title">NOTRE RESTAURANT</h4>
            <img id="imgmap" src = assets/images/imgmap.png />
            <div>
              <p class="member"> 75 rue d'ingouville, 76600 Le Havre</p>
            </div>
          </div>

          <div class="col text-center">
            <div class="address-member">
              <h4 class="ft-text-title2">NOS HORAIRES</h4>
              <p class="member">

                Dimanche : 18:00 - 23:00 <br>
                Lundi : 11:00 - 14:00 / 18:00 - 23:00 <br>
                Mardi : 11:00 - 14:00 / 18:00 - 23:00 <br>
                Mercredi : 11:00 - 14:00 / 18:00 - 23:00 <br>
                Jeudi : 11:00 - 14:00 / 18:00 - 23:00 <br>
                Vendredi : 11:00 - 14:00 / 18:00 - 23:00 <br>
                Samedi : 11:00 - 14:00 / 18:00 - 23:00 <br>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="container-fluid footerbottom">
        <div class=" row pull-right">
          <nav class="navbar">
            <nav class="nav navbar-nav pull-xs-left">
              <img id="logofooter" src="assets/images/logo.png" />
              <a class="nav-item nav-link" href="#"></a>
              <a class="nav-item nav-link" href="#"></a>
              <a class="nav-item nav-link" href="#"></a>
            </nav>
          </nav>
        </div>
        <div id="socialfooter">
          <a href="#"><i class="fab fa-facebook-square fa-2x logosocial"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x logosocial"></i></a>
          <a href="#"><i class="fab fa-linkedin fa-2x logosocial"></i></a><br>
          <p class="h6">
            Powered by Mia-Pizza-76.com
            <a href="" target="_blank"></a>
          </p>
        </div>
      </div>
      <!-- End of footer's part -->

      <!-- jQuery first, then Materialize.js, SweetAlert.js and Perso-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.js"></script>
      <!-- <script src="jquery-3.3.1.min.js"></script>
      <script src="popper.min.js"></script>
      <script src="angular.min.js"></script>
      <script src="angular-cookies.min.js"></script>
      <link href="bootstrap.min.js"> -->
      <script src="assets/js/script.js"></script>
    </body>
    </html>
